.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0A66C2;
  padding: 0px 8px;
  color: white;
}

.menu{
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 25px; 
}