img{
    width: 200px;
    margin-bottom: 25px;
    border: 1px solid gray;
}

div{
    display: inline;
    padding: 10px;
    font-size: 2rem;
    background-color: cornflowerblue;
    color: aliceblue;
    border-radius: 5px;
}